<div class="swiper-slide">
        <div class="home__main__cardsHome">
        <a class="home-product" href="/products/detail/<%= id %>">

                <div class="home__main__conteiner">

                        <img class="home__main__conteiner--img-producto home-product"
                                src="/img/productos/<%= images.find((image)=>image.main==1).name %>"
                                alt="<%= title %>" />
                        <div class="home__main__conteiner--descuento">
                                <h2>
                                        <%=discount %> % OFF
                                </h2>
                        </div>
                        <div class="home__main__conteiner--descripcion">
                                <a href="/products/detail/<%= id %>">
                                        <p>
                                                <%= title %>
                                        </p>
                                </a>
                        </div>

                </div>
        </a>
</div>
</div>