<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %>

  <body class="">
    <!-- HEADER -->
    <%- include('./partials/header') %>
      <!-- Main -->
      <main class="blog">
        <article>      <h1>
              La música como terapia
            </h1>   <figure>
              <img src="https://staticsnews.medsbla.com/news-es/wp-content/uploads/2018/12/09075359/c284eef02591ebf503c5b096478ac949c83c3454.jpg" alt=""></figure>

          <section>
        
            <div>

         
            <h3>15 datos que debes conocer</h3>
            <hr>


            <h5>La música es uno de los elementos esenciales en encuentros sociales, reuniones de amigos y familia, pues
              no sólo ambienta el lugar para que se genere diversión, sino puede acompañar cualquier situación de la
              vida diaria.
              Franz Ballivian Pol, psicólogo especialista en musicoterapia, asegura que: </h5>

            <h5 class="cita">“La música es una de las artes más sociales que existen, ya que permite comunicar emociones y vivencias”</h5>

            <h5>El experto comparte 15 datos que se deben conocer acerca de la musicoterapia.</h5>
            </div>
            
            <hr>

            <h5>1. ¿Qué es?</h5>
            <p>
              Es una técnica terapéutica que utiliza como base la música y/o sus elementos (sonido, ritmo, melodía y
              armonía) y se enfoca a promover la salud integral a través de la vivencia del sonido, música, movimiento e
              instrumentos córporo-sonoro-musicales, lo que posibilita a la persona a autodescubrirse conscientemente.
            </p>
            <h5>2. Orígenes</h5>
            <p>
              A partir del siglo XX, la música comenzó a utilizarse de forma más directa en el tratamiento de diferentes enfermedades, es decir,como una terapia aplicada científicamente. En esta época aparecen los primeros profesionales musicoterapeutas, Emile Jacques Dalcroze (1900-1950) fue uno de los precursores y sostenía “que el organismo humano es susceptible de ser educado eficazmente conforme al impulso de la música”.
            </p>
            
            <h5>3. Sesiones</h5>
            <p>
              La sesión de musicoterapia tiene una duración mínima de una hora y se puede escuchar música, producirla mediante la voz, los instrumentos musicales o el propio cuerpo.
            </p>
            <h4>
              Tipo de experiencia musical</h4>
              <div>
                <figure>
                  <img src="https://api.edecaformacion.com/ws/v3/documentacion/edeca/161975/f7b6804fdb20af848fbfcfdd1d27bce4" alt="">
                </figure>
              </div>
              
            <h5>4. Pasiva o receptiva</h5>
            <p>
              Es toda audición musical la que la persona oyente disfruta y aprecia las piezas musicales relajándose sin que intervenga alguna actividad corporal.
            </p>
            <h5>5. Activa o creativa</h5>
            <p>
              Se refiere a la actividad de escuchar alguna pieza y representarla ya sea bailando, saltando, cantando o realizando alguna actividad recreativa o lúdica.
            </p>
            <h5>6. Interpretación musical</h5>
            <p>
              Es la descarga energética (catarsis) y/o la expresión musical a través de la voz, instrumentos musicales, formas rítmicas y acústicas expresadas o vivenciadas mediante el cuerpo y objetos.
            </p>
            <h5>7. Elaboración creativa</h5>
            <p>
              Es la construcción de un instrumento musical a través de la creatividad o como también la composición de una o varias canciones.
            </p>
            <h4>Beneficios</h4>
            <h5>8. Habilidades motrices</h5>
            <p>
              A través de la música se trabaja la coordinación y el equilibrio, la movilidad y el desarrollo de las actividades motrices funcionales. A la vez, según Ballivián, se puede mejorar la coordinación motora, la amplitud de movimiento, el tono muscular y la respiración.
            </p>
            <h5>9. Habilidades sensoriales</h5>
            <p>
              Mediante técnicas musicales dirigidas se aumenta la capacidad de recibir y diferenciar estímulos sensoriales. Posteriormente, se logra una organización e interpretación de los mismos y la producción de la respuesta deseada.
            </p>
            <h5>10. Habilidades cognitivas</h5>
            <p>
              Con la música como elemento motivador se estimulan las funciones superiores como la atención, memoria, nivel de alerta, orientación, reconocimiento, aprendizaje e imaginación.
            </p>
            <h5>11. Habilidades socioemocionales</h5>
            <p>
              Las técnicas musicales receptivas y activas facilitan la expresión, el compartir emociones y sentimientos y a la vez promueven la interacción y las habilidades sociales.

              Por otro lado, el uso terapéutico de la música fomenta el autoconocimiento de la persona permitiendo un aumento de su autoestima y una reducción de sentimientos depresivos, de ansiedad y de estrés.
              
            </p>
            <h5>12. Aplicaciones</h5>
            <p>
              La musicoterapia se puede utilizar en casos de psicosis, autismo, enfermedades psicosomáticas, neurosis, geriatría, bulimia, anorexia, discapacidad motora, discapacidad sensorial, rehabilitación física, emocional, mental y espiritual, drogadicción, embarazo, VIH, enfermedades terminales, cirugías y terapia intensiva.
            </p>
            <h5>13. En niños</h5>
            <p>
              La musicoterapia es apta para los pequeños que sufren trastornos específicos del lenguaje y alteraciones en el procesamiento auditivo; alteraciones del habla en aspectos prosódicos, ritmo, fluidez, tartamudez y disfonía; dificultades en el aprendizaje y déficit de atención; problemas de conducta y emocionales; trastornos profundos en el desarrollo (autistas); niños con deficiencia mental, baja autoestima, trastornos orgánicos crónicos y/o degenerativos (cáncer, cardiopatías, problemas de dolor, etc.).

            </p>
            <h5>14. Una práctica para todos</h5>
            <p>
              Quienes no sufren de ninguna enfermedad pueden utilizar la musicoterapia para reducir el estrés a través de la apreciación musical y la interpretación de instrumentos, ya que estimula la creatividad y la capacidad para resolver problemas, disminuir la ansiedad y elevar la autoestima.

              En mujeres embarazadas apoya el proceso del parto.
              
            </p>
            <h5>15. Algunas piezas</h5>
            <p>
              El experto recomienda escuchar música relajante sin letra, música clásica de Mozart, J. S. Bach, F. Chopin, música de la naturaleza o llamado ruido rosa, jazz tranquilo, melodías armoniosas, “música que más le guste y le transmita optimismo y ganas de vivir”.
            </p>




          </section>
        </article>
        <hr>
        <article>
          <article>
            <section class="blog-comentarios">
              <h3>COMENTARIOS:</h3>
              <% blogs.forEach((blog) => { %>
                <div>
                  <h6><strong> <%= blog.nombre %> </strong>Dice:</h6>
                  <p><%= blog.comentario %></p>
                </div>
              <% }) %>
            </section>
          </article>
  
          <form action="/blog" method="POST">
            <h5>Dejanos tus comentarios....</h5>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label" >Nombre</label>
              <input type="name" name="nombre" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
              <textarea name="comentario" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="button">
              <button type="submit">Enviar</button>
            </div>
          </form>
        </article>

      </main>
      <!-- FOOTER -->
      <%- include('./partials/footer') %>
        <!-- SCRIPTS -->
        <%- include('./partials/scripts') %>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js"></script>
  </body>

</html>