<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('./partials/header') %>
      <!-- Main -->
      <main id="space_complement">
        <section class="dashboard" id="arriva">
          <h2 class="subtitulo_productos">DASHBOARD</h2>
          <div class="metric">
            <h3 class="metricProd">Total de productos:<p id="countProduct"></p>
            </h3>
            <h3 class="metricUs">Total de Usuarios:<p id="countUsers"></p>
            </h3>
          </div>

          <div>



<!-- productos -->

          <!-- PAGINADOR -->   
         
          <div id="paginator" class="paginado dashboard-paginate" > 
            <%- include('./partials/paginateProducts') %>
          </div>
       <h2>Productos</h2>
          <div class="dashboard-table-user">
            <div>
              <article class="dashboard-product cabeceraa">
                <h6 class="dashboard-title">ID</h6> 
                <h6 class="dashboard-title">TITULO</h6> 
                <h6 class="dashboard-title">MARCA</h6>
                <h6 class="dashboard-title">CATEGORIA</h6>
                <h6 class="dashboard-title">PRECIO</h6>
                <h6 class="dashboard-title">DETALLE</h6>
                <h6 class="dashboard-title">EDITAR/BORRAR</h6>


        
              </article>
            </div>
         


          <!-- ACA SE PAGINAN LOS PRODUCTOS -->
          <div class="product-list" id="container-products"> </div>
 </div>
<!-- USUARIOS -->

<div class="dashboard-table-user">
  <div><h2>Usuarios</h2>
    <article class="dashboard-product cabecera">
      <h6 class="dashboard-title">ID</h6>
      <h6 class="dashboard-title">NOMBRE</h6>
      <h6 class="dashboard-title">CORREO</h6>
      <h6 class="dashboard-title">TELEFONO</h6>
      <h6 class="dashboard-title">DETALLE</h6>
                <h6 class="dashboard-title">EDITAR/BORRAR</h6>
    </article>
  </div>


<div class="users-list" id="container-users"> </div>
</div>
      </div>  </section>









      </main>
      <!-- FOOTER -->
      <%- include('./partials/footer') %>
        <!-- SCRIPTS -->
        <%- include('./partials/scripts') %>
          <script src="/javascript/paginateDashboard.js"></script>



          <script src="/javascript/dinamic.js"></script>


  </body>

</html>