<!DOCTYPE html>
<html lang="es">


<!-- HEAD -->
<%- include('./partials/head') %>


</head>
<!-- VISTA FAQ -->
<body class="faq">
    <!-- HEADER -->
    <%- include('./partials/header') %> 
    <!-- MAIN -->
    <main>
        <div class="container py-5">
            <h1 class="text-center">PREGUNTAS FRECUENTES:</h1>
            <hr>
            <ul class="list-unstyled">
              <li>
                <h4>¿Cuál es el tiempo de garantía en los instrumentos que venden?</h4>
                <p>Ofrecemos una garantía estándar de 15 años en todos nuestros instrumentos. Consulta nuestra política de garantía para obtener más detalles.</p>
              </li>
              <li>
                <h4>¿Cómo puedo saber si un instrumento está en stock?</h4>
                <p>En nuestra tienda en línea, puedes verificar la disponibilidad de un instrumento específico. Si un producto está en stock, se mostrará en la página del producto.</p>
              </li>
              <li>
                <h4>¿Puedo solicitar un instrumento que no está disponible en su tienda en línea?</h4>
                <p>Si estás buscando un instrumento específico que no encuentras en nuestra tienda en línea, contáctanos y haremos todo lo posible por conseguirlo para ti.</p>
              </li>
              <li>
                <h4>¿Cuál es el costo de envío?</h4>
                <p>El costo de envío puede variar según el destino y el tamaño del paquete. Puedes calcular el costo exacto del envío agregando los productos deseados al carrito y seleccionando tu ubicación durante el proceso de pago.</p>
              </li>
              <li>
                <h4>¿Cómo puedo cancelar mi pedido?</h4>
                <p>Si necesitas cancelar tu pedido, por favor contáctanos lo antes posible. Si el pedido aún no ha sido procesado, haremos todo lo posible para cancelarlo y emitir el reembolso correspondiente.</p>
              </li>
              <li>
                <h4>¿Cuál es el plazo de entrega para pedidos internacionales?</h4>
                <p>El tiempo de entrega para pedidos internacionales puede variar según el país de destino y los procedimientos aduaneros.</p>
              </li>
            </ul>
            <hr>
          </div>
          <div class="arriba-mobile">
            <i id="boton-arriba" class="fa-solid fa-arrow-up"></i>
             </div>
    </main>
     <!-- FOOTER -->
     <%- include('./partials/footer') %>
     <%- include('./partials/scripts') %>
       <!-- SweetAlert2 -->
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
       <script src="/javascript/productDetail.js"></script>
       <script src="/javascript/alert_delete.js"></script>
       <script src="/javascript/dinamic.js"></script>



</body>
  <!-- SCRIPTS -->
  <%- include('./partials/scripts') %>

</html>





