<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %>

  <body>

    <!-- HEADER -->
    <%- include('./partials/header') %>
      <!-- Main -->
      <main class="productos__main" id="space_complement">
        <section class="main__section__nav">
          <!-- Menu navegacion -->

          <%- include('./partials/navbarProducts') %>

        </section>
        <!-- Productos -->

        <section class="main__section__productos" id="arriva">


          <% if (CategoryFilt) { %>
            <h2 class="subtitulo_productos">
              <%= CategoryFilt %>
            </h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% product.forEach(({id,images, price, title, subtitle, category, discount})=> { %>

                  <div class="Products--all" >
                    <article class="main__section__productos--producto">
                      <a href="/products/detail/<%= id %>">
                        <figure class="main__section__productos__producto--imagen">
                          <img src="/img/productos/<%= images[0].name %> " alt=" <%= category %> ">
                        </figure>
                        <div class="datos_productos">
                          <span class="agregar-al-carrito"> Más información
                            <i class="fa-sharp fa-solid fa-circle-info carrito_prod"></i> </span>
                          <h3 class="main__section__productos__producto--precio">$ <%= price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); %>
                          </h3>
                          <h4 class="main__section__productos__producto--marca">
                            <%= title %>
                          </h4>
                          <p class="main__section__productos__producto--modelo">
                            <%= subtitle %>
                          </p>
                        </div>
                      </a>
                    </article>
                  </div>

                  <% }) %>
                    <% } else{%>
                      <h2 class="subtitulo_productos">Productos disponibles!</h2>
                      <div id="paginator" class="paginado">

                        <%- include('./partials/paginateProducts') %>

                      </div>
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                          <% products.forEach(({id,images, price, title, subtitle, category, discount})=> { %>
                            
                             <!-- ACA SE PAGINAN LOS PRODUCTOS -->
                            <div id="container-products">

                            </div>
                           

                            <% }) %>
                              <% } %>
                        </div>
                      </div>     
              </div>
              <% if (locals.userLogin && locals.userLogin.rol=="1" ) { %>
                <div class="productos--crearProductos">
                  <a href="/products/create"><button class="btn--crear-prod">crear
                      producto</button></a>

                  <% } %>

                </div>
        </section>


      </main>
      <!-- FOOTER -->
      <%- include('./partials/footer') %>
        <!-- SCRIPTS -->
        <%- include('./partials/scripts') %>
          <script src="/javascript/paginateProducts.js"></script>
  </body>

</html>