<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %>

  <body>

    <!-- HEADER -->
    <%- include('./partials/header') %>
      <!-- Main -->
      <main class="productos__main" id="space_complement">
        <section class="main__section__nav">
          <!-- Menu navegacion -->

          <%- include('./partials/navbarProducts') %>

        </section>
        <!-- Productos -->

        <section class="main__section__productos">


          <% if (CategoryFilt) { %>
            <h2 class="subtitulo_productos">
              <%= CategoryFilt %>
            </h2>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% product.forEach(({id,images, price, title, subtitle, category})=> { %>

                  <!-- ACA SE PAGINAN LOS PRODUCTOS -->
                  <div id="container-products">

                  </div>

                  <% }) %>
                    <% } else{%>
                      <h2 class="subtitulo_productos">Destacados!</h2>
                      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">

                          <% products.forEach(({id,images, price, title, subtitle, category})=> { %>
                            
                             <!-- ACA SE PAGINAN LOS PRODUCTOS -->
                            <div id="container-products">

                            </div>

                            <% }) %>
                              <% } %>
                        </div>
                      </div>
                      <div>

                        <%- include('./partials/paginateProducts') %>

                      </div>
              </div>
              <% if (locals.userLogin && locals.userLogin.rol=="1" ) { %>
                <div class="productos--crearProductos">
                  <a href="/products/create"><button class="btn--crear-prod">crear
                      producto</button></a>

                  <% } %>

                </div>
        </section>


      </main>
      <!-- FOOTER -->
      <%- include('./partials/footer') %>
        <!-- SCRIPTS -->
        <%- include('./partials/scripts') %>
          <script src="/javascript/paginateProducts.js"></script>
  </body>

</html>