<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include('./partials/head') %>

    <!-- VISTA REGISTER USER -->

    <body class="register">

        <!-- HEADER -->
        <%- include('./partials/header') %>

            <!-- MAIN -->
            <main class="register__main">
                <section class="register__main__section">
                    <!-- MAPA DEL SITIO -->
                    <div class="register__main__section--mapa-sitio">
                        <p><a href="/">home</a>
                            <i class="fa-solid fa-greater-than"></i>
                            <a href="/login">cuenta</a>
                            <i class="fa-solid fa-greater-than"></i> crear cuenta
                        </p>
                    </div>
                    <!-- TITULO SITIO -->
                    <h1 class="register__main__section--titulo">
                        crear cuenta gratis
                    </h1>
                    <!-- CAJA DE BENEFICIOS -->
                    <div class="register__main__section--caja-beneficios">
                        <p>Beneficios:</p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-check"></i> Descuentos exclusivos.
                            </li>
                            <li> <i class="fa-solid fa-check"></i> Compra mas rapida.</li>
                            <li> <i class="fa-solid fa-check"></i> Novedades y ofertas
                                personalizadas.</li>
                            <li> <i class="fa-solid fa-check"></i> Datos y compra protegida.</li>
                        </ul>
                    </div>
                    <!-- FORMULARIO REGISTRO DE USUARIO -->
                    <form class="register__form" action="register" method="post" enctype="multipart/form-data"
                        id="form-register">
                        <!-- NOMBRE Y APELLIDO -->
                        <div>
                            <label for="name">nombre y apellido</label>
                            <input type="text" name="name" id="name" placeholder="Juan Perez"
                                value="<%= locals.old && old.name ? old.name : null %>">
                            <small class="register__formbox__div__errors" id="error-name">
                                <%= locals.errors && errors.name ? errors.name.msg : null %>
                            </small>
                        </div>

                        <!-- IMAGEN -->
                        <div class="form__create--image-box">
                            <label for="mainImage">imagen de perfil</label>
                            <input type="file" name="mainImage" id="mainImage">
                            <small class="register__formbox__div__errors" id="error-image">
                                <%= locals.errors && errors.mainImage ? errors.mainImage.msg : null %>
                            </small>
                        </div>
                        <!-- E-MAIL -->
                        <div>
                            <label for="email">email</label>
                            <input type="email" name="email" id="email" placeholder="Juanperez@ejemplo.com"
                                value="<%= (locals.old && old.email) && old.email  %>">
                            <small class="register__formbox__div__errors" id="error-email">
                                <%= locals.errors && errors.email ? errors.email.msg : null %>
                            </small>
                        </div>
                        <!-- PASSWORD -->
                        <div>
                            <label for="password">contraseña</label>
                            <input type="password" name="password" id="password"
                                placeholder="Minimo 8 caracteres alfanumericos"
                                value="<%= (locals.old && old.password) && old.password  %>">
                            <small class="register__formbox__div__errors" id="error-password">
                                <%= locals.errors && errors.password ? errors.password.msg : null %>
                            </small>
                            <ul id="msgPassword" hidden class="register__formbox__div__errors">
                                <li id="mayus">Una mayuscula</li>
                                <li id="minus">Una minuscula</li>
                                <li id="num">Un número</li>
                                <li id="esp">Un caracter especial ($@%*?&)</li>
                                <li id="min">Minimo de 6 caracteres</li>
                                <li id="max">Maximo de 12 caracteres</li>
                            </ul>
                        </div>
                        <!-- CONFIRMAR PASSWORD -->
                        <div>
                            <label for="password2">confirmar contraseña</label>
                            <input type="password" name="password2" id="password2"
                                placeholder="Debe coincidir con tu contraseña"
                                value="<%= (locals.old && old.password2) && old.password2  %>">
                            <small class="register__formbox__div__errors" id="error-password2">
                                <%= locals.errors && errors.password2 ? errors.password2.msg : null %>
                            </small>
                        </div>
                        <!-- DNI -->
                        <div>
                            <label for="identifyid">documento</label>
                            <input type="number" name="identifyid" id="identifyid"
                                placeholder="Ingresa tu DNI sin espacios ni guiones"
                                value="<%= (locals.old && old.identifyid) && old.identifyid  %>">
                            <small class="register__formbox__div__errors" id="error-identifyid">
                                <%= locals.errors && errors.identifyid ? errors.identifyid.msg : null %>
                            </small>
                        </div>
                        <!-- FECHA DE NACIMIENTO -->
                        <div>
                            <label for="birthdate">fecha de nacimiento</label>
                            <input type="date" name="birthdate" id="birthdate"
                                value="<%= (locals.old && old.birthdate) && old.birthdate  %>">
                            <small class="register__formbox__div__errors" id="error-birthdate">
                                <%= locals.errors && errors.birthdate ? errors.birthdate.msg : null %>
                            </small>
                        </div>

                        <!-- TELEFONO -->
                        <div>
                            <label for="tel">telefono</label>
                            <input type="tel" name="tel" id="tel"
                                placeholder="Ingresa codigo de area seguido de tu teléfono">
                        </div>
                        <!-- CHECKBOX GENEROS -->
                        <div class="form__checkbox">
                            <p>generos que te gustan</p>
                            <div>
                                <% genres.forEach(({genre})=> { %>
                                    <input type="checkbox" name="preferedgenre" id="<%= genre %>" value="<%= genre %>"
                                        <%=locals.old && old.preferedgenre && old.preferedgenre.includes(genre)
                                        ? 'checked' :'' %>>
                                    <label for="<%= genre %>">
                                        <%= genre %>
                                    </label>
                                    <% }) %>
                            </div>
                        </div>
                        <!-- CHECKBOX INSTRUMENTOS -->
                        <div class="form__checkbox">
                            <p>instrumentos que te interesan</p>

                            <div>
                                <% instruments.forEach(({instrument})=> { %>
                                    <input type="checkbox" name="preferedinstruments" id="<%= instrument %>"
                                        value="<%= instrument %>" <%=locals.old && old.preferedinstruments &&
                                        old.preferedinstruments.includes(instrument) ? 'checked' :'' %>>
                                    <label for="<%= instrument %>">
                                        <%= instrument %>
                                    </label>
                                    <% }) %>
                            </div>
                        </div>
                        <!-- CHECKBOX NOVEDADES Y OFERTAS -->
                        <div class="form__checkbox--novedades">
                            <input type="checkbox" name="news" id="novedades-ofertas" <%=(locals.old && old.news==='on'
                                ) && 'checked' %>>
                            <label for="novedades-ofertas">Recibir novedades y ofertas.</label>
                        </div>
                        <!-- CHECKBOX TERMINOS Y CONDICIONES -->
                        <div class="form__checkbox--terminos">
                            <input type="checkbox" name="terms" id="terms" <%=(locals.old && old.terms==='on' )
                                && 'checked' %>>
                            <label for="terms">Acepto terminos y condiciones</label>
                            <small class="register__formbox__div__errors" id="error-terms">
                                <%= locals.errors && errors.terms ? errors.terms.msg : null %>
                            </small>
                        </div>
                        <!-- BOTON CREAR CUENTA -->
                        <div class="form__btn-box">
                            <small class="register__formbox__div__errors" id="error-form"> </small>
                            <button class="btn--crear-cuenta" type="submit">crear cuenta</button>
                        </div>

                    </form>
                    <!-- INICIA SESION -->
                    <div class="register__main__section--login">
                        <p>¿Ya tenes cuenta? <a href="/users/login">Inicia Sesión aquí.</a></p>
                    </div>
                </section>
            </main>
            <script src="/javascript/formRegister.js"></script>

            <!-- FOOTER -->
            <%- include('./partials/footer') %>

                <!--Slick script-->
                <%- include('./partials/scripts') %>

    </body>

</html>