<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %> 


<!-- HEADER -->
<%- include('./partials/header') %> 
<h4 class="productos_search--titulo">Resultados de la búsqueda: <%=keywords%></h4>

<div class="container products--search">
    
    </div>    
        <div class="product__search--card">
        <% if (products.length) { %>
            <% products.forEach(({title, subtitle, description, model, images, price, category, colour, stock, id}) => { %>
         
                <%- include('./partials/infoProducto',{
                  title, subtitle, description, model, images, price, category, colour, stock, id
                }) %>

            <% }) %>
        
        <% } else { %>
        </div>
        <div class="header">
            <p class="productos_search--error--text">No hay productos que coincidan con esa búsqueda</p>
        </div>
        <% } %>
        </div>


</body>
<!-- FOOTER -->
<%- include('./partials/footer') %> 
</body>

   <!--Slick script-->
   <%- include('./partials/scripts') %>
				
</html>