<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head') %> 

<body>

<!-- HEADER -->
<%- include('./partials/header') %> 

<div class="container products--search">
    
            <h4 >Resultados de la búsqueda: <%=keywords%></h4>
        </div>
        <div class="product__search--card">
        <% if (products.length) { %>
            <% products.forEach(({title, subtitle, description, model, images, price, category, colour, stock, id}) => { %>
         
                <%- include('./partials/infoProducto',{
                  title, subtitle, description, model, images, price, category, colour, stock, id
                }) %>

            <% }) %>
        
        <% } else { %>

        <div class="col-12">
            <h2  style="color: tomato;">No hay productos que coincidan con esa búsqueda</h2>
        </div>
        <% } %>
        
    </div>



</body>
<!-- FOOTER -->
<%- include('./partials/footer') %> 
</body>

   <!--Slick script-->
   <%- include('./partials/scripts') %>
				
</html>