<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head',{title: "Editar Producto"}) %> 
<body>
    <!-- HEADER -->
<%- include('./partials/header') %> 
    <!-- Main -->
    <main class="create__main">
        <section class="admin_panel">panel administrador en construcción</section>
        <section class="create__main__section">
            
            <h1>editar producto</h1>
            <div class="create__main__section__div--form-box">
                <form action="/products/update/<%= id %>?_method=PUT" method="post" class="form__update" enctype="multipart/form-data">
                    <h5>tipo</h5>
                    <div class="form__create--radio">
                        
                        <input type="radio" name="tipo" id="ticket" value="ticket"<%= idProductType && 'checked' %>>
                        <label for="ticket">entrada</label>
                        <input type="radio" name="tipo" id="product" value="product"<%= idProductType && 'checked'%>>
                        <label for="product">instrumento</label>
                    </div>
                    <h5>condición</h5>
                    <div class="form__create--radio">
                        
                        <input type="radio" name="condition" id="new" value="news"<%= idCondition && 'checked'  %>>
                        <label for="new">Nuevo</label>
                        <input  type="radio" name="condition" id="sale" value="sale"<%= idCondition && 'checked'  %>>
                        <label  for="sale">
                        Oferta
                        </label>
                    </div>
                    <div>
                        <label for="title">título</label>
                        <input type="text" name="title" id="title" required value="<%= title %>">
                    </div>
                    <div>
                        <label for="subtitle">sub-título</label>
                        <input type="text" name="subtitle" id="subtitle" required value="<%= subtitle %>">
                    </div>
                    <div>
                        <label for="category">categoría</label>
                        <select name="category" id="category">
                            <% category.forEach(({category, id}) => { %>
                                <option value="<%= id %>"<%= id === categories.id && 'selected' %>><%= category %> </option>
                                <% }) %>
                            </select>
                        </div>
                    <div>
                        <label for="description">descripcíon</label>
                            <textarea name="description" id="description"  rows="3"><%= description %> </textarea>
                    </div>
                    <div class="form__create--image-box">
                        <label for="mainImage">imagen principal</label>
                        <input type="file" name="mainImage" id="mainImage">
                        <label for="images">imagenes</label>
                        <input type="file" name="images" id="images" multiple>
                    </div>
                    
                        <h4>características</h4>
                        <div class="form__create--characteristics"><label for="colors">color</label>
                        <select name="colors" id="colors">
                            
                            <% colorsSelect.forEach(({name, id}) => { %>
                                <option value="<%= id %>" <%= colors.id === id ? 'selected' : null %>><%= name %></option>
                              <% }) %>

                        </select>
                        </div>
                        <div>
                            <label for="stock">stock</label>
                            <input type="number" name="stock" id="stock" value="<%= stock %>"><p>un.</p>
                        </div>
                        <div>
                            <label for="model">modelo</label>
                            <input type="text" name="model" id="model" value="<%= model %>">
                        </div>
                    
                    <div>
                        <label for="price">precio</label>
                        <input type="number" name="price" id="price" value="<%= price %>"><p>$</p>
                    </div>
                    <div class="form__create-btn-box">
                        <button class="btn--crear-cuenta" type="submit">editar</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
<%- include('./partials/footer') %> 
    
<!-- SCRIPTS -->
<%- include('./partials/scripts') %>
</body>
</html>