<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %>

  <body>

    <!-- HEADER -->
    <%- include('./partials/header') %>
      <!-- Main -->
<main>
<h2>Bienvenido <%= user.name %></h2>
<div class="user_main_container">
  <div class="user_main_card-img">
    <form class="register__form"  method="post" enctype="multipart/form-data">
  <div>
    <img src="/img/users/<%= user.profileImage %>" alt="imagen-usuario" class="user-img">
    
  </div>
</form>
  <div>
    <button class="btn--crear-cuenta">CAMBIAR IMAGEN</button>
  </div>

  

  </div>
  <div class="user_main data">
    <h4>Datos Personales</h4>
    <hr>
    
      <div>
       Nombre y Apellido: <%= user.name %> <i class="fa-solid fa-pen-to-square"></i>
       

       
    </div>
   
</div>
</main>

      <!-- FOOTER -->
      <%- include('./partials/footer') %>

        <div class="eliminar_carrousel">
          
        
        </div>
  </body>

</html>